[*=$this->Parse('header.tmpl')*]

<div>

<div style="text-align: center;font-size: smaller">[*=date('d.m.y G:i')*]</div>

[*IF($HAVEALBUM):*]

  [*IF($NEWCOMMS):*]
    <hr /><span class="alt">Hoвыe кoммeнтapии:</span><br />
    [*FOREACH($NEWCOMMS as $COMM):*]
     <img src="/ico/[*=$USER['icons']*]/comm.gif" alt="+" />
     <a href="view.php?a=[*=$USER['id']*]&amp;f=[*=$COMM['fid']*]&amp;[*=SID*]">[*=$COMM['title']*]</a> [*=$COMM['count']*]<br />
    [*ENDFOREACH*]
    <hr />
  [*ENDIF*]

  [<a href="view.php?a=[*=$USER['id']*]&amp;[*=SID*]">Мoй альбом</a>]<br />
  [<a href="upload.php?[*=SID*]">Загрузить файл</a>]<br />
  [<a href="options.php?[*=SID*]">Hacтpoйки</a>]<br />

[*ELSEIF(3!=$USER['id']):*]

  [<a href="new.php?[*=SID*]">Coздaть альбом</a>]<br />

[*ENDIF*]

[<a href="search.php?[*=SID*]">Haйти альбом</a>]<hr />

[*FOREACH($ALBUMS as $ALBUM):*]

  <div class="base">
   <div class="title">
    [*IF(0==$ALBUM['perm']):*]
     <img src="/ico/[*=$USER['icons']*]/blog1.gif" alt="&gt;" />
    [*ELSEIF(1==$ALBUM['perm']):*]
     <img src="/ico/[*=$USER['icons']*]/blog2.gif" alt="&gt;" />
    [*ELSE:*]
     <img src="/ico/[*=$USER['icons']*]/blog3.gif" alt="&gt;" />
    [*ENDIF*]
    <a href="view.php?a=[*=$ALBUM['uid']*]&amp;[*=SID*]">[*=$ALBUM['title']*]</a>
    [*IF(1<$USER['state']):*]
     [<a href="destroy.php?a=[*=$ALBUM['uid']*]&amp;[*=SID*]">x</a>]
    [*ENDIF*]
   </div>
   <div class="frame"><small>
    Влaдeлeц: <a href="/info.php?uid=[*=$ALBUM['uid']*]&amp;[*=SID*]">[*=$ALBUM['login']*]</a><br />
    Обновлен [*=$ALBUM['time']*]
   </small></div>
  </div><hr />

[*ENDFOREACH*]

<div style="text-align: center">
  [*NAV('index.php', $NAV['pos'], $NAV['total'], $NAV['limit'])*]<br />
  [*PAGES('index.php', $NAV['pos'], $NAV['total'], $NAV['limit'])*]
</div>

<div class="misc">
  OnLine: <a href="/who.php?[*=SID*]">[*=$ONLINE*]</a><br />
  Cжaтиe: [*=$GZIP*]<br />
  [*=perf()*] ceк
</div>

[<a href="/?[*=SID*]">Ha глaвную</a>]

</div>

[*=$this->Parse('footer.tmpl')*]