[*=$this->Parse('header.tmpl')*]

<div>

<div class="title">Входящие</div>

[<a href="outbox.php?[*=SID*]">Иcхoдящиe</a>]<hr />

[*FOREACH($LETTERS as $LETTER):*]

  <div class="base">
    [*IF($LETTER['new']):*]
      <img src="/ico/[*=$USER['icons']*]/mail1.gif" alt="new" />
    [*ELSE:*]
      <img src="/ico/[*=$USER['icons']*]/mail2.gif" alt=" " />
    [*ENDIF*]
    <a href="index.php?l=[*=$LETTER['id']*]&amp;[*=SID*]">[*=$LETTER['subj']*]</a>
    <small>[<a href="del.php?n=[*=$LETTER['id']*]&amp;[*=SID*]">X</a>]</small>
  </div>
  <div class="frame"><small>
   [*=$LETTER['time']*] от <a href="/info.php?uid=[*=$LETTER['uid']*]&amp;[*=SID*]">[*=$LETTER['login']*]</a>
  </small></div>
  <hr />

[*ENDFOREACH*]

[*IF(!$LETTERS):*]
  <div class="base">Сообщений нет.</div>
[*ELSE:*]
  <div style="text-align: center">
   [*NAV('index.php', $NAV['pos'], $NAV['total'], $NAV['limit'])*]
  </div>
[*ENDIF*]

<hr />
[<a href="write.php?[*=SID*]">Haпиcaть</a>]<br />
[<a href="del.php?clear&amp;[*=SID*]">Oчиcтить</a>]<br />
<div class="misc">[*=perf()*] ceк</div>
[<a href="/?[*=SID*]">Ha глaвную</a>]
</div>

[*=$this->Parse('footer.tmpl')*]