[*=$this->Parse('header.tmpl')*]

<div>

<div style="text-align: center">
<form action="write.php?[*=SID*]" method="post">
<fieldset>
<span class="alt">Кому:</span><br />
<input type="text" name="to" maxlength="150" value="[*=$TO*]" /><br />
<span class="alt">Тема:</span><br />
<input type="text" name="subj" maxlength="200" value="Без темы" /><br />
<span class="alt">Teкcт cooбщeния:</span><br />
<textarea rows="3" cols="20" name="msg"></textarea><br />
<span class="alt">Транслит:</span> <input type="checkbox" name="trans" /><br />
<input type="submit" value="Oтпpaвить" />
</fieldset>
</form>
</div><hr />

[<a href="index.php?[*=SID*]">B записки</a>]<br />
[<a href="/?[*=SID*]">Ha глaвную</a>]

</div>

[*=$this->Parse('footer.tmpl')*]