[*=$this->Parse('header.tmpl')*]

<div class="title">Ссылки</div>

<div class="frame">

[*IF(1<$USER['state']):*]
  [<a href="add.php?[*=SID*]">Добавить</a>]<hr />
[*ENDIF*]

[*FOREACH($LINKS as $LINK):*]
  <img src="favicons/[*=$LINK['icon']*]" alt="&gt;" />
  <a href="[*=$LINK['url']*]">[*=$LINK['name']*]</a>
  [*IF(1<$USER['state']):*]
    <div class="frame">
    <small>[<a href="del.php?n=[*=$LINK['id']*]&amp;[*=SID*]">удалить</a>]
    [<a href="fetchicon.php?n=[*=$LINK['id']*]&amp;[*=SID*]">обновить иконку</a>]</small>
    </div>
  [*ENDIF*]
  <br />
[*ENDFOREACH*]

[*IF(!$LINKS):*]
  Пусто.
[*ENDIF*]

</div>

<hr />

<div>
  [<a href="/?[*=SID*]">Ha глaвную</a>]
</div>

[*=$this->Parse('footer.tmpl')*]