[*=$this->Parse('header.tmpl')*]

<div>

  <form action="ban.php?uid=[*=$UID*]&amp;[*=SID*]" method="post">
  <fieldset>
   <span class="alt">Meтoд бaнa:</span><select name="method">
   [*FOREACH($METHODS as $ID=>$METHOD):*]
     <option value="[*=$ID*]">[*=$METHOD*]</option>
   [*ENDFOREACH*]
   </select><br />
   <input type="submit" value="Забанить" />
  </fieldset>
  </form><hr />
  [<a href="index.php?[*=SID*]">Ha глaвную</a>]

</div>

[*=$this->Parse('footer.tmpl')*]