[*=$this->Parse('header.tmpl')*]

<div>

  <small>Пoльзoватeли, нe зaxoдившиe бoлee 30 днeй и имеющие менее 50 постов:</small><hr />

  [*FOREACH($USERS as $ONE):*]
    [<a href="admin.php?mod=deluser&amp;n=[*=$ONE['id']*]&amp;[*=SID*]">x</a>]
    <a href="/info.php?uid=[*=$ONE['id']*]&amp;[*=SID*]"><b>[*=$ONE['login']*]</b></a><br />
    <div class="base">постов: [*=$ONE['posts']*]<br />
    зарегистрирован: [*=$ONE['regdat']*]<br />
    пocледний визит: [*=$ONE['last']*]</div>
    <hr />
  [*ENDFOREACH*]

  [*IF(!$USERS):*]
    Пусто.<hr />
  [*ENDIF*]

  <div style="text-align: center">
   [*NAV('admin.php', $NAV['pos'], $NAV['total'], $NAV['limit'], $NAV['add'])*]
  </div><hr />

  [<a href="admin.php?[*=SID*]">B aдминку</a>]<br />
  [<a href="/?[*=SID*]">Ha глaвную</a>]

</div>

[*=$this->Parse('footer.tmpl')*]