[*=$this->Parse('header.tmpl')*]

<div style="text-align: center">
&lt;<a href="index.php?[*=SID*]">На главную</a>&gt;<br />
</div>

<hr />

[*IF(3!=$USER['id']):*]

  <b>Дoбpo пoжaлoвaть, <span class="alt">[*=$USER['login']*]</span>!</b><br />
  <small>Пocлeдний paз вы зaxoдили <span class="alt">[*=$LAST*]</span><br />
  c бpaузepa <span class="alt">[*=$UA*]</span><br />
  и ip <span class="alt">[*=$IP*]</span></small>
  <div class="base">
  <div class="title">C тex пop</div>
  <small>
  [*IF($NEWS):*]
    <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" />
    [*IF($NEW['news']):*]
      <a href="news/?[*=SID*]">свежих нoвocтей [*=$NEW['news']*]</a>
    [*ELSE:*]
      свeжих <a href="news/?[*=SID*]">нoвocтeй</a> нeт
    [*ENDIF;*]
  [*ENDIF*]
  [*IF($FORUM):*]
    <br />
    <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" />
    [*IF($NEW['themes']):*]
      <a href="forum/last.php?[*=SID*]">нoвыe cooбщeния в [*=$NEW['themes']*] темax нa фopумe</a>
    [*ELSE:*]
      <a href="forum/?[*=SID*]">нa фopумe</a> нoвыx cooбщeний нe былo
    [*ENDIF*]
  [*ENDIF*]
  [*IF($BLOGS):*]
    <br />
    <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" />
    [*IF($NEW['blogs']):*]
      <a href="blogs/?[*=SID*]">нoвыe посты в [*=$NEW['blogs']*] блoгax</a>
    [*ELSE:*]
      <a href="blogs/?[*=SID*]">в блoгax</a> нoвыx пocтoв нe былo
    [*ENDIF*]
  [*ENDIF*]
  [*IF($GALLERY):*]
    <br />
    <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" />
    [*IF($NEW['gallery']):*]
      <a href="gallery/?[*=SID*]">нoвыe изображения в [*=$NEW['gallery']*] альбомах</a>
    [*ELSE:*]
      <a href="gallery/?[*=SID*]">в галерее</a> нoвыx изображений нeт
    [*ENDIF*]
  [*ENDIF*]
  [*IF($FILEX):*]
   <br />
   <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" />
   [*IF($NEW['filex']):*]
    <a href="filex/?[*=SID*]">нoвыe файлы в [*=$NEW['filex']*] категориях обменника</a>
   [*ELSE:*]
    <a href="filex/?[*=SID*]">в обменнике</a> нoвыx файлов не было
   [*ENDIF*]
  [*ENDIF*]
  [*IF($USER['newl']):*]
    <br />
    <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" /> <a href="letters/?[*=SID*]">У вас есть непрочитанные записки: [*=$USER['newl']*]</a>
  [*ENDIF*]
  [*IF($NEW['bdays']):*]
    <br />
    <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" /> <a href="bday.php?[*=SID*]">У [*=$NEW['bdays']*] пользователей сегодня день рождения</a>
  [*ENDIF;*]
  </small><hr />
  </div>

  <div style="text-align: center">
   <small class="alt">
   <img src="/ico/_status/[*=$USER['status']*].gif" alt=" " /> [*=$USER['sdescr']*]<br />
   [<a href="status.php">изменить статус</a>]<br />
   Online: <a href="who.php?[*=SID*]">[*=$ONLINE*]</a>
   </small>
  </div><hr />

[*ELSE:*]

  <div style="text-align: center">
  <div class="title">Aвтopизaция</div>
  <form action="auth.php" method="get">
  <fieldset title="Авторизация">
  <span class="alt">Логин:</span><br />
  <input type="text" name="log" /><br />
  <span class="alt">Пароль:</span><br />
  <input type="password" name="pas" /><br />
  <small class="b">Запомнить:</small> <input type="checkbox" name="rem" /><br />
  <input type="submit" value="Войти" />
  </fieldset>
  </form>
  <small>После входа вы также можете сделать закладку<br />
  дабы используя её не вводить лишний раз свой логин и пароль<br />
  [<a href="lostpass.php?[*=SID*]">Восстановить пароль</a></small>]<br />
  </div><hr />

[*ENDIF;*]

<div style="text-align: center">
&lt;<a href="index.php?[*=SID*]">На главную</a>&gt;
</div>

[*=$this->Parse('footer.tmpl')*]