[*='<?xml version="1.0" encoding="utf-8"?>'."\n"*]
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
  <title>[*=$TITLE*]</title>
  <link rel="stylesheet" type="text/css" href="/css/[*=$USER['tmpl']*]/[*=$USER['style']*]/style.css" />
</head>

<body><div>

<div style="text-align: center">
  <img src="/ico/[*=$USER['icons']*]/info.gif" alt="i" /><br />
  [*=$MESSAGE*]<br />
  [<a href="[*=$YES*]">ДА</a>] - [<a href="[*=$NO*]">HET</a>]
</div>

</div></body>
</html>