[*='<?xml version="1.0" encoding="utf-8"?>'."\n"*]
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <title>[*=$TITLE*]</title>
  <meta http-equiv="Refresh" content="3; url=[*=$FORWARD*]" />
  <link rel="stylesheet" type="text/css" href="/css/[*=$USER['tmpl']*]/[*=$USER['style']*]/style.css" />
</head>
<body>
<div style="text-align: center">
  [*=$MESSAGE*]
  <br />&gt;&gt;<a href="[*=$FORWARD*]">Далее</a>&gt;&gt;
</div>
</body>
</html>