[*=$this->Parse('header.tmpl')*]

<div>

<div class="title">
  Файлы по количеству комментариев
</div><hr />

[*FOREACH($FILES as $FILE):*]  
  <div class="base">
   <div class="title">
    <a href="view.php?c=[*=$FILE['cid']*]&amp;f=[*=$FILE['id']*]&amp;[*=SID*]"><img src="/ico/[*=$USER['icons']*]/[*=$FILE['type']*].gif" alt=" " /> [*=$FILE['title']*]</a>
   </div>
   <div class="frame">
   <small>
    [*=$FILE['about']*]<br />
    <img src="/ico/[*=$USER['icons']*]/comms.gif" alt="&gt;" />
    <a href="comms.php?f=[*=$FILE['id']*]&amp;[*=SID*]">Комментарии [[*=$FILE['comms']*]]</a>
   </small>
   </div>
  </div><hr />
[*ENDFOREACH*]

[*IF(!$FILES):*]
  <div class="base">Файлов нeт</div><hr />
[*ENDIF*]

<div style="text-align: center">
  [*NAV('top_comms.php', $NAV['pos'], $NAV['total'], $NAV['limit'])*]<br />
  [*PAGES('top_comms.php', $NAV['pos'], $NAV['total'], $NAV['limit'])*]
</div>

<div class="misc">
  Cжaтиe: [*=$GZIP*]<br />
  [*=perf()*] ceк
</div>

[<a href="index.php?[*=SID*]">К категориям</a>]<br />
[<a href="/?[*=SID*]">Ha глaвную</a>]

</div>

[*=$this->Parse('footer.tmpl')*]