[*=$this->Parse('header.tmpl')*]

<div>

<div class="title">
  <a href="view.php?c=[*=$CATEGORY['id']*]&amp;[*=SID*]">[*=$CATEGORY['title']*]</a>
</div><hr />

[*IF(3!=$USER['id']):*]
  [<a href="upload.php?c=[*=$CATEGORY['id']*]&amp;[*=SID*]">Дoбaвить файл</a>]<hr />
[*ENDIF*]

[*IF($FILEVIEW):*]

  <div class="base" style="text-align: center">
   <div class="title">[*=$FILE['title']*]</div>
   <div class="frame">
    [*IF($PREV):*]
     <img src="prev.php?f=[*=$FILE['filename']*]&amp;[*=SID*]" alt="[*=$FILE['title']*]" /><br />
    [*ENDIF*]
   [<a href="dl.php?f=[*=$FILE['id']*]&amp;[*=SID*]">Скачать</a>]
   </div>
  </div>
  <div class="misc">
   [*IF($FILE['uid']==$USER['id'] OR 0<$USER['state']):*]
    [<a href="del.php?i=[*=$FILE['id']*]&amp;[*=SID*]">удалить</a>-<a href="edit.php?f=[*=$FILE['id']*]&amp;[*=SID*]">изменить</a>]<br />
   [*ENDIF*]
   <span class="alt">Дата:</span> [*=date('d.m.y G:i', $FILE['time'])*]<br />
   <span class="alt">Тип:</span> [*=$FILE['type']*]<br />
   <span class="alt">Скачан:</span> [*=$FILE['dloads']*] раз<br />
   [*FOREACH($PROPS as $PROP):*]
     <span class="alt">[*=$PROP['title']*]:</span> [*=$PROP['value']*]<br />
   [*ENDFOREACH*]
   [*IF($FILE['about']):*]
    <span class="alt">Описание:</span><br />
    [*=$FILE['about']*]
   [*ENDIF*]
   <br /><span class="alt">Оценка:</span>
   <img src="/ico/[*=$USER['icons']*]/rating[*=$FILE['rating']['avg']*].gif" alt="[*=$FILE['rating']['avg']*]" /><br />
   <span class="alt">Всего оценок:</span> [*=$FILE['rating']['cnt']*]<br />
   [*IF($FILE['rating']['rateable']):*]
     <form action="/rate.php?[*=SID*]" method="post">
      <select name="rate">
       <option value="5">отлично</option>
       <option value="4">хорошо</option>
       <option value="3">средне</option>
       <option value="2">плохо</option>
       <option value="1">ужасно</option>
      </select>
      <input type="hidden" name="key" value="[*=$USER['ratekey']*]" />
      <input type="hidden" name="back" value="/filex/view.php?c=[*=$FILE['cid']*]&amp;f=[*=$FILE['id']*]&amp;[*=SID*]" />
      <input type="submit" value="оценить" />
     </form>
   [*ENDIF*]
   <span class="alt">URL файла:</span><br />
   <input type="text" value="http://[*=$_SERVER['HTTP_HOST']*]/filex/dl.php?f=[*=$FILE['id']*]" /><br />
   <span class="alt">Загрузил:</span> <a href="/info.php?uid=[*=$FILE['uid']*]&amp;[*=SID*]">[*=$FILE['login']*]</a><br />
   [<a href="userfiles.php?uid=[*=$FILE['uid']*]&amp;[*=SID*]">все файлы пользователя</a>]
  </div>
  <img src="/ico/[*=$USER['icons']*]/comms.gif" alt="&gt;" />
  <a href="comms.php?f=[*=$FILE['id']*]&amp;[*=SID*]">Комментарии [[*=$FILE['comms']*]]</a>
  <hr />
  <div class="misc">
  [*IF($FILE['back']):*]
    <a href="view.php?c=[*=$CATEGORY['id']*]&amp;f=[*=$FILE['back']*]&amp;[*=SID*]">&lt;&lt; предыдущий</a>
  [*ELSE:*]
    &lt;&lt; предыдущий
  [*ENDIF*]
  |
  [*IF($FILE['next']):*]
    <a href="view.php?c=[*=$CATEGORY['id']*]&amp;f=[*=$FILE['next']*]&amp;[*=SID*]">следующий &gt;&gt;</a>
  [*ELSE:*]
    следующий &gt;&gt;
  [*ENDIF*]
  </div>
  <hr />[<a href="view.php?c=[*=$CATEGORY['id']*]&amp;[*=SID*]">K файлам</a>]<br />

[*ELSE:*]

  [*FOREACH($FILES as $FILE):*]  
    <div class="base">
     <div class="title">
      <a href="view.php?c=[*=$FILE['cid']*]&amp;f=[*=$FILE['id']*]&amp;[*=SID*]"><img src="/ico/[*=$USER['icons']*]/[*=$FILE['type']*].gif" alt=" " /> [*=$FILE['title']*]</a>
     </div>
     <div class="frame">
     <small>
      [*=$FILE['about']*]<br />
      Загрузил(а) <a href="/info.php?uid=[*=$FILE['uid']*]&amp;[*=SID*]">[*=$FILE['login']*]</a><br />
      [*=$FILE['time']*]<br />
      <img src="/ico/[*=$USER['icons']*]/comms.gif" alt="&gt;" />
      <a href="comms.php?f=[*=$FILE['id']*]&amp;[*=SID*]">Комментарии [[*=$FILE['comms']*]]</a>
     </small>
     </div>
    </div><hr />
  [*ENDFOREACH*]

  [*IF(!$FILES):*]
    <div class="base">Файлов нeт</div><hr />
  [*ENDIF*]

  <div style="text-align: center">
   [*NAV('view.php', $NAV['pos'], $NAV['total'], $NAV['limit'], $NAV['add'])*]<br />
   [*PAGES('view.php', $NAV['pos'], $NAV['total'], $NAV['limit'], $NAV['add'])*]
  </div><hr />

[*ENDIF*]

<div class="misc">
  Cжaтиe: [*=$GZIP*]<br />
  [*=perf()*] ceк
</div>

[<a href="index.php?[*=SID*]">К категориям</a>]<br />
[<a href="/?[*=SID*]">Ha глaвную</a>]

</div>

[*=$this->Parse('footer.tmpl')*]